<!-- <p>quotes-zone works!</p> -->
<!-- <ul *ngFor ='let quote of quotes'>
    <li>{{quote.quote}} <span class="upvote">upvote{{quote.upvote}}</span> <span class="downvote ml-4">downvote{{quote.downvote}}</span> </li>

</ul> -->
<div class="row">
    <div class="col-md-6">
    <ul *ngFor='let quote of quotes ; let i=index'>

    
    <li> {{quote.quote}} <br> By {{quote.Author}} <br> <span class="upvote" (click)='upvotes(i)'>upvote {{quote.upvote}}</span> <span
                class="downvote ml-4" (click)='downvote(i)'>downvote {{quote.downvote}}</span> </li>
    Created by {{quote.creator}}
    
    </ul>
    </div>
    <div class="col-md-6">
        <app-quotes-form (addquote)="addquotes($event)"></app-quotes-form>
    </div>
</div>