/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;    
}
h1{
    font-size: 9vh;
    color: white;
    padding: 6% 7%;
    font-family:'Rubik Bubbles', cursive;
}
/* .line{
 height:2px;
 width:5%;
 border-width:0;
 color:gray;
 background-color:gray"
} */
body{

  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("./assets/i4.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: 'Square Peg', cursive;
  font-size: 5vh;
 
}
footer{
    color: white;
    margin-top: 28%;
    margin-left: 4%;
}